.footer {
  padding: var(--font-32px) 0;
  background-color: var(--color-gray);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .copyright p {
  font-size: var(--font-18px);
  color: var(--color-blue);
}

.footer .copyright p a {
  font-weight: 700;
  color: var(--color-orange);
}

.footer .logo img {
  width: 100px;
}
