@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css");
@import "/src/css/base.css";
@import "/src/css/navigation.css";
@import "/src/css/wrapper.css";
@import "/src/css/words.css";
@import "/src/css/career.css";
@import "/src/css/footer.css";
@import "/src/css/sidenav.css";
@import "/src/css/story.css";
