.wrapper {
  height: 700px;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.content-area {
  padding-top: 100px;
}

.content-area .color-box {
  padding: 8px 24px;
  background-color: var(--color-orange);
  font-size: 14px;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.content-area h1 {
  margin: 32px 0 22px 0;
  font-size: var(--font-64px);
  font-weight: 800;
  line-height: 64px;
}

.content-area h3 {
  margin-bottom: 32px;
  font-size: var(--font-32px);
  font-weight: 500;
  line-height: 38px;
}

.content-area h3 span {
  font-weight: 800;
}

.btn-wrapper {
  padding: 12px 32px;
  background-color: var(--color-orange);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.2s;
}

.btn-wrapper:hover {
  background-color: #c94701;
}

.cover .image {
  width: 700px;
}
