.wrapper {
  height: 100vh;
  background-color: var(--color-blue);
  color: var(--color-white);
  display: flex;
}

.content-area {
  padding-top: 100px;
}

.content-area .color-box {
  padding: 8px 24px;
  background-color: var(--color-orange);
  font-size: 14px;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.content-area h1 {
  margin: 32px 0 22px 0;
  font-size: var(--font-64px);
  font-weight: 800;
  line-height: 64px;
}

.content-area h3 {
  margin-bottom: 32px;
  font-size: var(--font-32px);
  font-weight: 500;
  line-height: 38px;
}

.content-area h3 span {
  font-weight: 800;
}

.btn-wrapper {
  padding: 12px 32px;
  background-color: var(--color-orange);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.2s;
}

.btn-wrapper:hover {
  background-color: #c94701;
}

.cover .image {
  width: 700px;
}

.content-box {
  width: 40%;
  overflow: hidden;
  padding-left: 110px;
}

.wrapper-avatar {
  width: 60%;
  background: #ffedea;
  overflow: hidden;
  background-image: url("https://static.poder360.com.br/2021/11/CiroGomes-PDT.jpeg");
  background-position: center;
  background-size: cover;
}

.wrapper-avatar .avatar {
  max-width: 100%;
  height: 100%;
}

.box-avatar {
  width: 100%;
  background: #ffedea;
  z-index: 999;
}

/* Feito por jbss */
.content {
  display: block;
  width: auto;
}

.content-info {
  width: auto;
  padding: 45px 0px;
}

.content-info ul li {
  line-height: 34px;
}

@media screen and (max-width: 576px) {
  .wrapper {
    display: grid;
    height: auto;
  }
  .content-area {
    padding: 0;
  }
  .content-area h1 {
    font-size: var(--font-64px);
    line-height: 64px;
  }
  .content-area h3 {
    font-size: var(--font-32px);
    line-height: 42px;
  }
  .content-box {
    width: 100%;
    padding: 64px 32px 48px 32px;
  }
  .content-info {
    padding: 48px 0 0px 0;
  }
  .wrapper-avatar {
    width: 100%;
  }
  .content-info ul li {
    font-size: 22px;
    line-height: 48px;
  }
}
